<!-- > structures/forms/account/banner -->
<form action="/api/user/id/{{user._id}}/banner" method="POST" enctype="multipart/form-data">
  {{#*inline 'banner-form-fields' this}}
  <div class="row">
    <div class="col s12 center">
      <h3>Banner</h3>
    </div>
  </div>
  <div class="row">
  </div>
  {{/inline}}
  {{#*inline 'banner-form-submit'}}
  <button type="submit" class="btn">
    <i class="material-icons left">send</i>
    save
  </button>
  {{/inline}}
  {{#if useInModal}}
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          {{> 'banner-form-fields'}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    {{> 'banner-form-submit'}}
    <button type="button" class="btn-flat modal-close">cancel</button>
  </div>
  {{else}}
  {{> 'banner-form-fields'}}
  <div class="row">
    <div class="col s12">
      {{> 'banner-form-submit'}}
    </div>
  </div>
  {{/if}}
</form>
<!-- < structures/forms/account/banner -->