<!-- > structures/forms/account/settings-->
<form method="POST" action="/api/user/id/{{_id}}/settings">
  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <span>Use Dark Theme</span>
        <div class="switch right">
          <label>
            No
            <input type="checkbox" name="useDarkTheme">
            <span class="lever"></span>
            Yes
          </label>
          <script inheritValue="{{#if settings.useDarkTheme}}true{{else}}false{{/if}}">
            var cs = document.currentScript;
            var p = cs.parentElement;
            var value = cs.getAttribute('inheritValue') == '' + true;
            p.querySelector('input').checked = value;
            p.removeChild(cs)
          </script>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: none">
    <div class="col s12 center">
      <button type="submit" class="btn">
        <i class="material-icons left">save</i>
        save
      </button>
    </div>
  </div>
</form>
<!-- < structures -->