<!-- > account/register -->
{{#> 'layouts/main'}}
{{#*inline 'document-title'}}Register{{/inline}}
{{#*inline 'content' this}}
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        {{> 'structures/forms/register'}}
      </div>
    </div>
  </div>
</div>
{{/inline}}
{{/layouts/main}}
<!-- < account/register -->