<!-- > debug/printMySession -->
{{#> 'layouts/main'}}
{{#*inline 'document-title' this}}{{this.dirname}}{{/inline}}
{{#*inline 'content' this}}
{{#if this.session}}
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">My Session</span>
          {{json this.session}}
      </div>
    </div>
  </div>
</div>
{{/if}}
{{/inline}}
{{/layouts/main}}
<!-- < debug/printMySession -->