<!-- > structures/modals/login -->
<a href="#login-modal" class="modal-trigger">Login</a>
<div class="modal bottom-sheet modal-fixed-footer" id="login-modal">
  {{> 'structures/forms/login' useInModal=true error=this.error}}
</div>
<!-- < structures/modals/login -->