<!-- > structures/modals/register -->
<a href="#register-modal" class="modal-trigger">Register</a>
<div class="modal bottom-sheet" id="register-modal">
  {{> 'structures/forms/register' useInModal=true}}
</div>
<!-- < structures/modals/register -->