<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="{{config.themeColor}}">

  {{> 'plugins/og' ogData user=user}}

  {{> 'includes/links' linkData user=user}}

  {{> 'includes/scripts' scriptData user=user}}

  <title>
    {{#> 'document-title'}}
      | kouna.io
    {{/document-title}}
  </title>
</head>
<body>
  {{!-- page header and nav --}}
  <header>
    {{> 'structures/header' headerData user=user}}
  </header>

  {{!-- page content --}}
  <main>
    {{#> 'main'}}
      <div class="container">
        {{> 'content'}}
      </div>
    {{/main}}
  </main>

  {{!-- page footer --}}
  {{> 'structures/footer' footerData user=user}}
</body>
</html>